.App {
  /* text-align: center; */
  width: 30%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-center {
  text-align: center;
}

.todo-list {
  margin: 10px 0px;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-done {
  color: rgb(0, 148, 74);
}

.text-box {
  width: 79%;
  padding: 5px;
  margin: 5px 0px;
}

.btn {
  margin: 10px 5px;
}

.remove-btn {
  float: right;
  font-size: smaller;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
